// ***
// Global
// ***

html {
  background-image: url(../assets/exotic.jpg);
}

div {
  display: flex;
}

.row {
}

// ***
// Header
// ***
.header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .header_title {
    align-items: center;
    justify-content: space-between;
    width: 60%;

    h1 {
      font-size: 4.5rem;
    }
  }

  .contact_header {
    flex-direction: column;
    text-align: center;
    width: 20%;

    .contact_content {
      justify-content: space-around;
    }
  }
}

// ***
// Navigation
// ***

.navigation {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 13%;
  margin-top: 2%;
  padding-right: 1%;

  height: 65vh;

  p {
    font-size: 1.2rem;
    border: 1px solid black;
    padding: 1rem;
    transition: 0.2s;
    background-image: url(../assets/kevazinga-veneer.jpg);
    color: white;

    &:hover {
      padding: 1.5rem;
      cursor: pointer;
    }
  }
}

// ***
// MainBody
// ***

.mainbody {
  border: 3px solid black;
  width: 100%;
  height: 70vh;
  overflow: auto;
  background-color: tan;
}

.daily_banner {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-image: url(../assets/amgeries.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 20rem;
  padding-left: 1rem;
  color: white;

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
  }
}
